.xflex-datepicker-month {
    width: 380px;
    background-color: white;
}

.xflex-datepicker-month-header {
    border: 1px solid #efefef;
    padding: 10px 15px;
    text-align: center;
    /* background-color: #2db0c3; */
    background-color: #f07474;
    color: white;
}

.xflex-datepicker-left-angle {
    flex: 1;
    transform-origin: 50% 50%;
    transform: scale(1.5);
    cursor: pointer;
}

.xflex-datepicker-month-header-title {
    flex: 9;
}

.xflex-datepicker-right-angle {
    flex: 1;
    transform-origin: 50% 50%;
    transform: scale(1.5);
    cursor: pointer;
}

.xflex-datepicker-weeks {
    border: 1px solid #efefef;
    padding: 5px;
}

.xflex-datepicker-weeks-label {
    font-size: 12px;
    color: #999;
    flex: 1;
}

.xflex-datepicker-weeks-label-square {
    border-bottom: 1px solid #efefef;
    flex: 1 1 30px;
}

.xflex-datepicker-dates-column {
    margin-top: 15px;
}

.xflex-datepicker-dates-label {
    font-size: 12px;
    flex: 1
}

.xflex-datepicker-dates-label.--other-month {
    opacity: 0.3
}

.xflex-datepicker-dates-square {
    height: 50px;
    width: 50px;
    flex: 1 1 40px;
    margin-top: 2px
}

.xflex-datepicker-dates-square.--selected:not(.--other-month) {
    background-color: #e51d35;
    color: white
}

.xflex-datepicker-dates-square.--in-range:not(.--other-month) {
    background-color: #e51d35;
    color: white
}

.xflex-datepicker-dates-square:not(.--other-month):not(.--selected):hover {
    background-color: #f6b5bd;
    color: white;
}

.xflex-datepicker-dates-square:not(.--other-month) {
    cursor: pointer;
}

.xflex-datepicker-weeks-day-column {
    flex: calc(1/7);
}

.__react_component_tooltip.show {
    opacity: 1!important;
}